* {
  box-sizing: border-box;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 */


 .col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
    * Each column is padded by half-a-gutter on each side,
    *
    * Half a gutter is 10px, 10/960 (context) = 1.041666%
    *
    */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;

}
  
/* Mobile defaults */


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  } */

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 */
  .col-12 {
    width: 100%;
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */

  body {
    min-height: 900px;
    /* max-width: 100%; */
    width: 100%;
   
  }

  header {
    padding-top: 5em;
  }

  .nav-button-link {
    width: 80%;
    margin: .5em;
  }

  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: x-large;
  }

  p, .css-link {
    font-size: medium;
  }

  .css-banner {
    padding-top: 3.5em;
  }

  .landingpagetext{
    font-size: medium;
  }

  .nav-name {
    display: block;
    float: none;
  }
  
  ul {
    padding: 0;
  }

  .nav-links {
    float:none;
    padding-top: 0;
    display:inline-block;
  }

  .github-css {
    display: none;
  }

  .image-container, .text-container {
    padding: 0;
    max-width: 100%;
  }

  

}  

  /* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
  body {
    min-height: 900px;
    max-width:100%;
    max-height: 100%;
  }

  .nav-button, .nav-button-link {
    width: 80%;
    margin: .5em 0;
    padding: 0;
  }

}

/* iPads (portrait) -----------  */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles  */
  body {
    min-height: 900px;
    max-width:100%;
  }

  .nav-links {
    padding-right: .5em;
  }

 
}