* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: "Roboto",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  /* width: 100%; */
  max-width: 65%;
  margin: auto;
  background-color: #e5fcff;
}

main {
  line-height: 1.6;
  padding-bottom: 5em;
  width:100%;
  margin: auto;
}

nav,
footer {
  padding: 1% 0;
  background-color: #8bb9bc;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #8bb9bc;
}

header {
  padding: 12% 0;
}

.anchor-css {
  color:#36413e;
}

.anchor-div {
  padding-top: 2em;
  
}

.responsive-image { 
  max-width: 100%;
  height: auto;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

h2, h3 {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Lato", serif;
  font-weight: bold;
}

.css-container, .css-banner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: 600px;
  width:100%;
}

.css-banner {
  min-height: 150px;
  padding-top: 2em;
}

.nav-links, .nav-name { 
  display:inline-block;
  padding: .5em;
}

.nav-links {
  float:right;
  padding-top: 1.5em;
  padding-right: 2em;
  
}
.nav-name { 
  float:left;
  padding-left: 2em;
  font-size: xx-large;
  
}

.image-container, .text-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  outline-color: #8bb9bc;
  outline-style: solid;
  background-color: #FFF7F9;
}

.project-section {
  padding-bottom: 5em;
  outline-color: #8bb9bc;
  outline-style: solid;
  margin-bottom: 2em;
  background-color: #E9E3E6;
}

.css-link {
  padding-bottom: 1em;
}

#Link_To_Portfolio, #Link_To_Bio {
  padding-top: 125px;
  margin-top: -125px
}

#Home {
  padding-top: 150px;
  margin-top: -150px;
}